
@font-face {font-family: "iconfont";
  src: url("iconfont.eot"/*tpa=https://beecloud.cn/resource/iconfont/iconfont.eot*/); /* IE9*/
  src: url("iconfont.eot-#iefix"/*tpa=https://beecloud.cn/resource/iconfont/iconfont.eot?#iefix*/) format('embedded-opentype'), /* IE6-IE8 */
  url("iconfont.woff"/*tpa=https://beecloud.cn/resource/iconfont/iconfont.woff*/) format('woff'), /* chrome、firefox */
  url("iconfont.ttf"/*tpa=https://beecloud.cn/resource/iconfont/iconfont.ttf*/) format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("iconfont.svg#iconfont"/*tpa=https://beecloud.cn/resource/iconfont/iconfont.svg#iconfont*/) format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-down:before { content: "\e61d"; }
.icon-arrow-up:before { content: "\e61e"; }
.icon-android:before { content: "\e600"; }
.icon-qq:before { content: "\e601"; }
.icon-add:before { content: "\e610"; }
.icon-video:before { content: "\e602"; }
.icon-email:before { content: "\e611"; }
.icon-triangle:before { content: "\e612"; }
.icon-mmm-no:before { content: "\e625"; }
.icon-target:before { content: "\e613"; }
.icon-html5:before { content: "\e603"; }
.icon-paper-airplane:before { content: "\e614"; }
.icon-honor:before { content: "\e615"; }
.icon-quit:before { content: "\e61f"; }
.icon-question:before { content: "\e620"; }
.icon-weibo:before { content: "\e604"; }
.icon-rmb:before { content: "\e621"; }
.icon-ios:before { content: "\e605"; }
.icon-menu:before { content: "\e628"; }
.icon-triangle-go:before { content: "\e62a"; }
.icon-coding:before { content: "\e629"; }
.icon-lock:before { content: "\e616"; }
.icon-wechat:before { content: "\e606"; }
.icon-call:before { content: "\e617"; }
.icon-account:before { content: "\e618"; }
.icon-analyse:before { content: "\e622"; }
.icon-set-2:before { content: "\e623"; }
.icon-app-2:before { content: "\e619"; }
.icon-logo-2:before { content: "\e61a"; }
.icon-cooperate:before { content: "\e61b"; }
.icon-github:before { content: "\e607"; }
.icon-qr-codes:before { content: "\e608"; }
.icon-loading:before { content: "\e624"; }
.icon-del-2:before { content: "\e626"; }
.icon-unionpay:before { content: "\e609"; }
.icon-alipay:before { content: "\e60a"; }
.icon-pc-with-circular:before { content: "\e60b"; }
.icon-redpack-with-circular:before { content: "\e60c"; }
.icon-mobile-with-circular:before { content: "\e60d"; }
.icon-wechat-with-circular:before { content: "\e60e"; }
.icon-second:before { content: "\e60f"; }
.icon-clock-2:before { content: "\e61c"; }
.icon-mmm-yes:before { content: "\e627"; }
