@font-face {
    font-family: 'iconfont';
    src: url("../iconfont/iconfont.eot"/*tpa=https://beecloud.cn/resource/iconfont/iconfont.eot*/); /* IE9*/
    src: url("../iconfont/iconfont.eot-#iefix"/*tpa=https://beecloud.cn/resource/iconfont/iconfont.eot?#iefix*/) format('embedded-opentype'), /* IE6-IE8 */ url("../iconfont/iconfont.woff"/*tpa=https://beecloud.cn/resource/iconfont/iconfont.woff*/) format('woff'), /* chrome、firefox */ url("../iconfont/iconfont.ttf"/*tpa=https://beecloud.cn/resource/iconfont/iconfont.ttf*/) format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url("../iconfont/iconfont.svg#uxiconfont"/*tpa=https://beecloud.cn/resource/iconfont/iconfont.svg#uxiconfont*/) format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font: 14px/2 AvenirNext-Regular, "proxima-nova", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:0;
    padding:0;
}